/*home page, gif, styles*/
.imageContainer {
   position: relative;
   width:100%;

}

.centered {
    position: absolute;
    color: white;
    font-size: 10vw; 
    top: 2%;
    width: 100%;
    text-align: center;
}

.centered.smallerFont {
    font-size: 5vw;
}

.centered.mediumFont {
    font-size: 7vw;
}

.centered.blackFont {
	color: black;
}

.centered.h2 {
  font-size: 1.5vw;
  top: 13%;
}

.imageBackground {
	position: absolute;	
	text-align: center;
	width: 100%;

}

.image {
  padding-top: 11%;
	position : relative;
	width: 80%;
	display: block;
	margin: 0 auto;
}

.background {
  position: relative; 
  text-align: center;
  width: 100%;
}

.image.large {
  width: 100%;
  padding-top: 0%;
}

.image.scroll {
  padding-top: 4%;
  max-height: 800px;
  overflow: hidden;
  height: auto;


}


