/*home page, gif, styles*/
.imageContainer {
   position: relative;
   width:100%;
   height:auto;
}


.videoContainer {
    width: 100%;
    height: 0;
    padding-bottom: 56%; /* Change this till it fits the dimensions of your video */
    position: relative;
}
.videoContainer iframe {
   width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}


.centered {
    position: absolute;
    color: white;
    font-size: 10vw; 
    top: 2%;
    width: 100%;
    text-align: center;
}

.centered.smallerFont {
    font-size: 5vw;
}

.centered.mediumFont {
    font-size: 7vw;
}

.centered.blackFont {
	color: black;
}

.centered.h2 {
  font-size: 1.5vw;
  top: 13%;
}

.imageBackground {
	position: absolute;	
	text-align: center;
	width: 100%;

}

.image {
  padding-top: 11%;
	position : relative;
	width: 80%;
	display: block;
	margin: 0 auto;
}

.image.large {
  width: 100%;
  padding-top: 0%;
}

.img-overlay {
  position: absolute;
  top: 85%;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}


.btn{
  font-size: 1.5vw;


}



