/*this is for the  second nav bar */
/*body{
    margin-top: 60px;
}*/

body{
    /*remove the horzontal scroll bar*/
    overflow-x: hidden;
    margin-top: 60px;
    /*font-family: "Tahoma", sans-serif;*/
    font-family: Poppins;
    background-color: white; 
   
}

h1,h2,h3,h4,h5,h6{
    font-family: Poppins;

}

p{
    font-family: Roboto;
}


.navbar-default{
    background: white;
    border: 0;
    font-family: Poppins;
}

.navbar-brand{
    font-size: 20px;
    color: black !important;
    font-weight: bold;
}  /*this is for the  second nav bar */


/* media query for when the top nav bar transitons to mobile/tablet width, change the bg color to white*/
@media(max-width: 800px){
    /*.navbar-collapse{
        background: #111111;
    }*/
    #collapsenav{
        background-color: white;
    }
}

/*side bar nav styles*/
.navbar{
    background-color:transparent;
    overflow: hidden;
}

.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #949494;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover{
    color: #ffffff;
}

.sidenav .closebutton{
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}

#main{
    transition: margin-left 0.5s;
    padding: 0px;
    overflow: hidden;
    width: 100%;
}

.sticky{
    position: fixed;
    top: 12px;
    left: 18px;
}

/* footer styles */
.footerall{
    padding: 40px;
}